
 .containerConatact {
    max-width: 800px;
    margin: 0 auto;
    background-color: #683695;
    border-radius: 10px;
    
  } 
  
  h1 {
    color: #333;
  }
  
  .form-control {
    background-color: #fff;
    border: 1px solid #ced4da;
  }
  
  .form-label {
    color: #333;
  }
  .text-green{
    color: #683695;
  }

.nav {
  background-color: #ff6fd3 !important;
}
.hover:hover{
 background-color: transparent !important;
 color: black;
 font-weight: bold;
}
main {
  margin-top: 70px;
}
.divTexte{
  margin-top: 120px !important;
}
.divTexte2{
  margin-top: 96px !important;
}
.btn {
  background-color: #ff6fd3;
  color: white;
}
.btn:hover{
  border: 2px solid #ff6fd3;
  color: white;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  
}
@media screen and (max-width:1024px){
  iframe{
      width: 440px !important;
  }
}
.btnMap{
  width: 200px;
  background-color: #ff6fd3;
  border: none;
  border-radius: 12px;
  color: white;
  
}
